{% extends 'todo/base.html' %}


{% block title %}
Notes For: {{ task|title }}
{% endblock %}

{% block content %}

{% for message in messages %} 
<p id="message">{{ message }}</p>
{% endfor %} 

<form action="{% url 'note' task.id %}" method="post">
  {% csrf_token %}
  <div class="max-w-3xl px-6 mx-auto text-center">
    <div class="flex flex-col mt-8 space-y-3 sm:space-y-0 sm:flex-row sm:justify-center sm:-mx-2">
      <textarea row=10 name="note" id="add_note" type="text" class="px-4 py-2 text-gray-700 bg-white border rounded-md sm:mx-2 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40" placeholder="Your notes here...."></textarea>
      {% include 'todo/add_bttn.html' %}
    </div>
  </div>
</form>

{% for note in notes %}

<p>{{ note.text|title }}</p>
<a href={% url 'delete_note' task.id note.id %}>{% include 'todo/remove.html' %}</a>

{% endfor %}
<br>

<div class="static bottom-0">
  <hr>
  <a href={% url 'index' %}>
    <button class="px-2 py-1 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
      Back
  </button>
  </a>
</div>
{% endblock %}
<!--
-->
