<nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="{% url 'index' %}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Task Manager</a>

            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <div class="ml-3 relative">
              {% if request.user.is_authenticated %}
              <div>
                <div class="text-base font-medium leading-none text-white">{{ request.user.username.capitalize }}</div>
                <div class="text-base font-medium leading-none text-white"><a href="{% url 'logout' %}">Logout</a></div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="md:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="{% url 'index' %}" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Task Manager</a>

      </div>
      <div class="pt-4 pb-3 border-t border-gray-700">
        <div class="ml-3 flex items-center justify-between">
        {% if user.is_authenticated %}
        <div class="text-base font-medium leading-none text-white">{{ request.user.username.capitalize }}</div>
        <div class="text-base font-medium leading-none text-white"><a href="{% url 'logout' %}">Logout</a></div>
        {% else %}
        <a href="{% url 'login' %}">
            <div class="text-base font-medium leading-none text-white"><a href="{% url 'login' %}">Login</a></div>
        </a>
        {% endif %}
        </div>
      </div>
    </div>
  </nav>